/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* Container Principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
}

/* Estilos do Cabeçalho */
header {
    background: url(banner2.jpg\ \(2\).png);
    text-align: center;
    background-color: #0077b6;
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

/* Estilo para o título (h1 e h2) */
h1, h2 {
    color: #0077b6;
}

/* Estilos da Foto de Perfil */
.foto-perfil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

/* Estilos das Seções */
section {
    background: white;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes no texto sobre */
#sobre {
    text-align: justify;
    max-width: 1900px;
    line-height: 1.6;
    padding: 20px;
}

/* Estilos para WhatsApp */
.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

/* Grid Layout para Listas (Experiência, Habilidades, etc.) */
ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 10px;
    }
    header {
        padding: 30px 10px;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    .section {
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .section {
        width: 48%;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .section {
        width: 30%;
        padding: 20px;
    }
    .header {
        text-align: left;
    }
}

/* Estilos de Imagens */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos dos Links - Todos em Azul */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Ajuste para o LinkedIn */
.linkedin-link {
    color: blue;
}

.linkedin-link:hover {
    color: darkblue;
}
